<div class="section-body">
  <h2 class="section-title">Sarana Kesehatan</h2>
  <p class="section-lead">
    Jika anda ingin membuat data sarana kesehatan <a href="/data-healths/create">Klik disini</a>.
  </p>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Data Sarana Kesehatan</h4>
        </div>
        <div class="card-body">
          <%- include('../layouts/partials/alerts') %>
          <div class="table-responsive">
            <table class="table table-striped" id="table-1">
              <thead>
                <tr>
                  <th class="text-center">No</th>
                  <th>Penanda</th>
                  <th>Rumah Sakit</th>
                  <th>Rumah Sakit Bersalin</th>
                  <th>Poliklinik</th>
                  <th>Longitude</th>
                  <th>Longitude</th>
                  <th class="text-center">Aksi</th>
                </tr>
              </thead>
              <tbody>
                <% dataHealths.forEach((dataHealth, i) => { %>
                  <tr>
                    <td class="text-center"><%- i + 1 %></td>
                    <td><%- dataHealth.marker %></td>
                    <td><%- dataHealth.rumah_sakit %> Orang</td>
                    <td><%- dataHealth.rumah_sakit_bersalin %> Orang</td>
                    <td><%- dataHealth.poliklinik %> Orang</td>
                    <td><%- dataHealth.latitude %></td>
                    <td><%- dataHealth.longitude %></td>
                    <td class="text-center">
                        <a href="/data-healths/<%- dataHealth.id %>/edit" class="btn btn-warning btn-sm">Ubah</a>
                        <form action="/data-healths/<%- dataHealth.id %>?_method=DELETE" class="d-inline" method="POST" onsubmit="return confirm('Yakin ingin menghapus data ini?')">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <button class="btn btn-danger btn-sm">Hapus</button>
                        </form>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>