<div class="section-body">
  <h2 class="section-title">Peribadahan</h2>
  <p class="section-lead">
    Jika anda ingin membuat data peribadahan <a href="/data-worships/create">Klik disini</a>.
  </p>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Data Peribadahan</h4>
        </div>
        <div class="card-body">
          <%- include('../layouts/partials/alerts') %>
          <div class="table-responsive">
            <table class="table table-striped" id="table-1">
              <thead>
                <tr>
                  <th class="text-center">No</th>
                  <th>Penanda</th>
                  <th>Islam</th>
                  <th>Gereja</th>
                  <th>Pura</th>
                  <th>Vihara</th>
                  <th>Longitude</th>
                  <th>Longitude</th>
                  <th class="text-center">Aksi</th>
                </tr>
              </thead>
              <tbody>
                <% dataWorships.forEach((dataWorship, i) => { %>
                  <tr>
                    <td class="text-center"><%- i + 1 %></td>
                    <td><%- dataWorship.marker %></td>
                    <td><%- dataWorship.islam %> Orang</td>
                    <td><%- dataWorship.gereja %> Orang</td>
                    <td><%- dataWorship.pura %> Orang</td>
                    <td><%- dataWorship.vihara %> Orang</td>
                    <td><%- dataWorship.latitude %></td>
                    <td><%- dataWorship.longitude %></td>
                    <td class="text-center">
                        <a href="/data-worships/<%- dataWorship.id %>/edit" class="btn btn-warning btn-sm">Ubah</a>
                        <form action="/data-worships/<%- dataWorship.id %>?_method=DELETE" class="d-inline" method="POST" onsubmit="return confirm('Yakin ingin menghapus data ini?')">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <button class="btn btn-danger btn-sm">Hapus</button>
                        </form>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <form action="/data-worships/download" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn btn-primary btn-sm">Download Crystal Report</button>
      </form>
    </div>
  </div>
</div>