<div class="section-body">
  <h2 class="section-title">Agama</h2>
  <p class="section-lead">
    Jika anda ingin membuat data agama <a href="/data-religions/create">Klik disini</a>.
  </p>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Data Agama</h4>
        </div>
        <div class="card-body">
          <%- include('../layouts/partials/alerts') %>
          <div class="table-responsive">
            <table class="table table-striped" id="table-1">
              <thead>
                <tr>
                  <th class="text-center">No</th>
                  <th>Penanda</th>
                  <th>Islam</th>
                  <th>Budha</th>
                  <th>Hindu</th>
                  <th>Katolik</th>
                  <th>Protestan</th>
                  <th>Longitude</th>
                  <th>Longitude</th>
                  <th class="text-center">Aksi</th>
                </tr>
              </thead>
              <tbody>
                <% dataReligions.forEach((dataReligion, i) => { %>
                  <tr>
                    <td class="text-center"><%- i + 1 %></td>
                    <td><%- dataReligion.marker %></td>
                    <td><%- dataReligion.islam %> Orang</td>
                    <td><%- dataReligion.budha %> Orang</td>
                    <td><%- dataReligion.hindu %> Orang</td>
                    <td><%- dataReligion.katolik %> Orang</td>
                    <td><%- dataReligion.protestan %> Orang</td>
                    <td><%- dataReligion.latitude %></td>
                    <td><%- dataReligion.longitude %></td>
                    <td class="text-center">
                        <a href="/data-religions/<%- dataReligion.id %>/edit" class="btn btn-warning btn-sm">Ubah</a>
                        <form action="/data-religions/<%- dataReligion.id %>?_method=DELETE" class="d-inline" method="POST" onsubmit="return confirm('Yakin ingin menghapus data ini?')">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <button class="btn btn-danger btn-sm">Hapus</button>
                        </form>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <form action="/data-religions/download" method="POST" class="d-inline">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn btn-primary btn-sm">Download Crystal Report</button>
      </form>
      <a href="/data-religions/statistic" class="btn btn-primary btn-sm">Lihat Grafik</a>
    </div>
  </div>
</div>