<div class="section-body">
  <h2 class="section-title">Sekolah</h2>
  <p class="section-lead">
    Jika anda ingin membuat data sekolah <a href="/data-schools/create">Klik disini</a>.
  </p>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Data Sekolah</h4>
        </div>
        <div class="card-body">
          <%- include('../layouts/partials/alerts') %>
          <div class="table-responsive">
            <table class="table table-striped" id="table-1">
              <thead>
                <tr>
                  <th class="text-center">No</th>
                  <th>Penanda</th>
                  <th>SD</th>
                  <th>MI</th>
                  <th>SMP</th>
                  <th>MTS</th>
                  <th>Longitude</th>
                  <th>Longitude</th>
                  <th class="text-center">Aksi</th>
                </tr>
              </thead>
              <tbody>
                <% dataSchools.forEach((dataSchool, i) => { %>
                  <tr>
                    <td class="text-center"><%- i + 1 %></td>
                    <td><%- dataSchool.marker %></td>
                    <td><%- dataSchool.sd %> Orang</td>
                    <td><%- dataSchool.mi %> Orang</td>
                    <td><%- dataSchool.smp %> Orang</td>
                    <td><%- dataSchool.mts %> Orang</td>
                    <td><%- dataSchool.latitude %></td>
                    <td><%- dataSchool.longitude %></td>
                    <td class="text-center">
                        <a href="/data-schools/<%- dataSchool.id %>/edit" class="btn btn-warning btn-sm">Ubah</a>
                        <form action="/data-schools/<%- dataSchool.id %>?_method=DELETE" class="d-inline" method="POST" onsubmit="return confirm('Yakin ingin menghapus data ini?')">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <button class="btn btn-danger btn-sm">Hapus</button>
                        </form>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>