<div class="section-body">
  <h2 class="section-title">Penduduk Lahir, Mati, Datang, Pindah</h2>
  <p class="section-lead">
    Jika anda ingin membuat data penduduk lahir, mati, datang, pindah <a href="/data-lives/create">Klik disini</a>.
  </p>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Data Penduduk Lahir, Mati, Datang, Pindah</h4>
        </div>
        <div class="card-body">
          <%- include('../layouts/partials/alerts') %>
          <div class="table-responsive">
            <table class="table table-striped" id="table-1">
              <thead>
                <tr>
                  <th class="text-center">No</th>
                  <th>Penanda</th>
                  <th>Lahir</th>
                  <th>Mati</th>
                  <th>Datang</th>
                  <th>Pindah</th>
                  <th>Longitude</th>
                  <th>Longitude</th>
                  <th class="text-center">Aksi</th>
                </tr>
              </thead>
              <tbody>
                <% dataLives.forEach((dataLive, i) => { %>
                  <tr>
                    <td class="text-center"><%- i + 1 %></td>
                    <td><%- dataLive.marker %></td>
                    <td><%- dataLive.lahir %> Orang</td>
                    <td><%- dataLive.mati %> Orang</td>
                    <td><%- dataLive.datang %> Orang</td>
                    <td><%- dataLive.pindah %> Orang</td>
                    <td><%- dataLive.latitude %></td>
                    <td><%- dataLive.longitude %></td>
                    <td class="text-center">
                        <a href="/data-lives/<%- dataLive.id %>/edit" class="btn btn-warning btn-sm">Ubah</a>
                        <form action="/data-lives/<%- dataLive.id %>?_method=DELETE" class="d-inline" method="POST" onsubmit="return confirm('Yakin ingin menghapus data ini?')">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <button class="btn btn-danger btn-sm">Hapus</button>
                        </form>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>