<div class="section-body">
  <h2 class="section-title">Pencaharian</h2>
  <p class="section-lead">
    Jika anda ingin membuat data pencaharian <a href="/data-livelihoods/create">Klik disini</a>.
  </p>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Data Pencaharian</h4>
        </div>
        <div class="card-body">
          <%- include('../layouts/partials/alerts') %>
          <div class="table-responsive">
            <table class="table table-striped" id="table-1">
              <thead>
                <tr>
                  <th class="text-center">No</th>
                  <th>Penanda</th>
                  <th>PNS</th>
                  <th>Karyawan BUMN</th>
                  <th>TNI</th>
                  <th>Polisi</th>
                  <th>Longitude</th>
                  <th>Longitude</th>
                  <th class="text-center">Aksi</th>
                </tr>
              </thead>
              <tbody>
                <% dataLivelihoods.forEach((dataLivelihood, i) => { %>
                  <tr>
                    <td class="text-center"><%- i + 1 %></td>
                    <td><%- dataLivelihood.marker %></td>
                    <td><%- dataLivelihood.pns %> Orang</td>
                    <td><%- dataLivelihood.bumn %> Orang</td>
                    <td><%- dataLivelihood.tni %> Orang</td>
                    <td><%- dataLivelihood.polisi %> Orang</td>
                    <td><%- dataLivelihood.latitude %></td>
                    <td><%- dataLivelihood.longitude %></td>
                    <td class="text-center">
                        <a href="/data-livelihoods/<%- dataLivelihood.id %>/edit" class="btn btn-warning btn-sm">Ubah</a>
                        <form action="/data-livelihoods/<%- dataLivelihood.id %>?_method=DELETE" class="d-inline" method="POST" onsubmit="return confirm('Yakin ingin menghapus data ini?')">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <button class="btn btn-danger btn-sm">Hapus</button>
                        </form>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <form action="/data-livelihoods/download" method="POST" class="d-inline">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn btn-primary btn-sm">Download Crystal Report</button>
      </form>
      <a href="/data-livelihoods/statistic" class="btn btn-primary btn-sm">Lihat Grafik</a>
    </div>
  </div>
</div>